# Example MySQL config file for small systems.
#
# This is for a system with little memory (<= 64M) where MySQL is only used
# from time to time and it's important that the mysqld daemon
# doesn't use much resources.
#
# You can copy this file to
# /etc/my.cnf to set global options,
# mysql-data-dir/my.cnf to set server-specific options (in this
# installation this directory is /usr/local/mysql/data) or
# ~/.my.cnf to set user-specific options.
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password	= your_password
port		= 3306
socket		= /tmp/mysql.sock

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
port		= 3306
socket		= /tmp/mysql.sock
#bind-address           = 0.0.0.0
language               = hungarian
datadir                = /usr/local/mysql/data
default-table-type     = InnoDB
#default-character-set  = hungarian
default-character-set  = hungarian2
lower_case_table_names = 1
skip-locking

max_connections        = 700
max_connect_errors     = 10
table_cache            = 4096
open-files-limit       = 8192

max_allowed_packet     = 100M
sort_buffer_size       = 2M
join_buffer_size       = 4M

thread_cache           = 8
thread_concurrency     = 8
query_cache_size       = 64M
query_cache_limit      = 4M
ft_min_word_len        = 4
thread_stack           = 192K
transaction-isolation  = READ-COMMITTED
tmp_table_size         = 64M
#tmpdir =
##log
log_warnings
log_slow_queries
log_long_format
long_query_time = 2

### *** INNODB Specific options ***
innodb_additional_mem_pool_size = 32M
innodb_buffer_pool_size         = 1500M
innodb_data_home_dir            = /usr/local/mysql/data
#innodb_data_file_path = ibdata1:10M:autoextend #default
innodb_data_file_path           = ibdata1:2000M;ibdata2:2000M;ibdata3:2000M;ibdata4:2000M;ibdata5:10M:autoextend # bktvsz config
###innodb_log_group_home_dir       =
###innodb_log_arch_dir             =
innodb_file_io_threads          = 4
###innodb_force_recovery=4
innodb_thread_concurrency       = 8
innodb_flush_log_at_trx_commit  = 1
###innodb_fast_shutdown
innodb_log_file_size            = 32M
innodb_log_buffer_size          = 2M
innodb_log_files_in_group       = 3
innodb_max_dirty_pages_pct      = 90
innodb_lock_wait_timeout        = 60


#*** MyISAM Specific options
key_buffer_size                 = 64M
read_buffer_size                = 1M
read_rnd_buffer_size            = 24M
bulk_insert_buffer_size         = 64M
myisam_sort_buffer_size         = 96M
myisam_max_sort_file_size       = 1G
myisam_max_extra_sort_file_size = 1G
myisam_repair_threads           = 1
myisam_recover


# *** BDB Specific options ***
skip-bdb


[mysqldump]
# Do not buffer the whole result set in memory before writing it to
# file. Required for dumping very large tables
quick
max_allowed_packet = 100M


[mysql]
no-auto-rehash
# Only allow UPDATEs and DELETEs that use keys.
#safe-updates

[isamchk]
key_buffer       = 128M
sort_buffer_size = 128M
read_buffer      = 4M
write_buffer     = 4M

[myisamchk]
key_buffer       = 128M
sort_buffer_size = 128M
read_buffer      = 4M
write_buffer     = 4M

[mysqlhotcopy]
interactive-timeout

#server-id	= 1

[mysqld_safe]
# Increase the amount of open files allowed per process. Warning: Make
# sure you have set the global system limit high enough! The high value
# is required for a large number of opened tables
open-files-limit = 8192

[safe_mysqld]
err-log=/usr/local/mysql/data/mysqld.log
timezone = Europe/Budapest


